## Lesson 5
Click here for [source](https://nbviewer.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/05%20-%20Lesson.ipynb).

> Taking a quick look at the **stack** and **unstack**

In [5]:
# Import libraries
import pandas as pd
import sys

In [6]:
print('Python version ' + sys.version)
print('Pandas version: ' + pd.__version__)

Python version 3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:47:18) [MSC v.1916 64 bit (AMD64)]
Pandas version: 1.5.3

In [11]:
# Our small data set
df = {'one':[1,1],'two':[2,2]}
i = ['a','b']

# Create dataframe
df = pd.DataFrame(data = d, index = i)
df

   one  two
a    1    2
b    1    2

In [12]:
df.index

Index(['a', 'b'], dtype='object')

In [20]:
# Bring the columns and place them in the index
stack = df.stack()
stack

   one  two
a    1    2
b    1    2

In [21]:
# The index now includes the column names
stack.index

MultiIndex([('a', 'one'),
            ('a', 'two'),
            ('b', 'one'),
            ('b', 'two')],
           )

In [15]:
unstack = df.unstack()
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64

We can also flip the column names with the index using the **T** (transpose) function.

In [16]:
transpose = df.T
transpose

     a  b
one  1  1
two  2  2

In [17]:
transpose.index

Index(['one', 'two'], dtype='object')